<h1>Developers</h1>
<%= will_paginate @users, :page_links => false %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Profile Picture</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email%></td>
        <td><%= image_tag(user.image.url, :style => "border: 1px solid grey;max-width:65px;border-radius:5px") %><td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>