<nav style="height:120px" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <img style="max-width:60px; margin-top: -7px;"
             src="/images.png">
             <span id="logo"> Bug Tracking System</span>
     </a>
    </div>
     <% if current_user %>
    <ul style="font-size: 20px" class="nav nav-tabs">


     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <% if current_user.user_type== "manager" || current_user.user_type== "developer"  %>

            <li><a href="/projects">View all Projects</a></li>
            <%else%>
                   <li><%= link_to 'View Projects', view_qa_projects_path(current_user.id) %></li>
              <%end%> 
            <% if current_user.user_type== "manager" %>
              <li><%= link_to 'New Project', new_project_path %></li>
          <%end%>
        </ul>
      </li>


      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bugs <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/bugs">View all Bugs</a></li>

          <% if current_user.user_type== "manager" || current_user.user_type== "qa"  %>
              <li><%= link_to 'New Bug', new_bug_path %></li>
            <%end%>
        </ul>
      </li>


       <% if current_user.user_type== "manager" %>
      
      <!-- <li><a href="users/view_developers">Developors</a></li> -->
       <li><%= link_to 'Developors', view_developers_path %></li>
      <li><%= link_to 'QA', view_qa_list_path %></li>
      <% end %>
    </ul>
    <% end %>

        

<% if current_user %>
       <ul style="font-size: 15px;" class="nav navbar-nav navbar-right">
        <li style="color:#FFFFFF"><%= link_to "Manage Profile", current_user %></li>
        <li><%= link_to "Log out", logout_path %></li>
 </ul>
         <ul style="font-size: 15px;" class="nav navbar-nav navbar-right;">
       <li><%= image_tag(current_user.image.url, :style => "border: 1px solid grey;max-width:90px;border-radius:90%;float:navbar-right;") %></li>
        <li style="color:#FDFAFA";>Logged in as <%= current_user.name %>.</li>
       </ul>

        
      <% else %>
       <ul style="font-size: 15px;" class="nav navbar-nav navbar-right">
       <li style="margin-top: 30px"><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     

    </ul>
     <% end %>
  </div>
</nav>
